<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/dashboard/home">
        <img src="/img/logo-navbar.svg" height="23px" style="margin-bottom: 4.5px;" class="mr-1"> Painel Administrativo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/institutions">
                    Instituições
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/migrants">
                     Migrantes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/forms/migrants">
                    Gerenciar Formulários
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/terms">
                    Termos e Condições
                </a>
            </li>
            <% if (user.role === 'admin') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/manual-migrante">
                        Manual do Migrante
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/users">
                        Gestão de Usuários
                    </a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                <button class="btn btn-outline-light rounded-pill d-flex align-items-center me-3" data-toggle="modal" data-target="#accountModal">
                    <i class="bi bi-person-circle ms-3 mr-2"></i> Minha Conta
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-light rounded-pill d-flex align-items-center" data-toggle="modal" data-target="#logoutModal">
                    <i class="bi bi-box-arrow-right ms-3 mr-2"></i>  Sair
                </button>
            </li>
            
        </ul>
    </div>
</nav>

<!-- Modal de Dados da Conta -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountModalLabel">Dados da Conta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Informações da Conta -->
                <div class="account-info">
                    <p><strong>Nome:</strong> <%= user.name %></p>
                
                    <% if(user.role === 'user') { %>
                        <p><strong>Email:</strong> <%= user.email %></p>
                    <% } %> 
                
                    <% if(user.role === 'admin') { %>
                        <p><strong>Função:</strong> Administrador</p>
                    <% } else if(user.role === 'user') { %>
                        <p><strong>Função:</strong> Usuário</p>
                    <% } else { %>
                        <p><strong>Função:</strong> Não Disponível</p>
                    <% } %> 
                </div>
                
                <% if(user.role === 'user') { %>
                <div class="alert alert-warning mt-4" role="alert">
                    <strong>Atenção!</strong> Para alterar ou excluir os dados, contate o responsável pelos usuários administradores.
                </div>
                <%  } else { %>
                    <div class="alert alert-danger mt-4" role="alert">
                        <strong>Atenção!</strong> Você pode alterar ou excluir dados de outros usuários. Tome cuidado ao realizar as ações.
                    </div>
                <% } %> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmação de Logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Confirmação de Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você realmente deseja sair?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="confirmLogout" class="btn btn-primary" onclick="logout()">Sair</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/navbar.js"></script>
<link rel="stylesheet" href="/css/navbar.css">
